.divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: .3s;
}

.divide:hover {
    background-color: var(--light-color);
}

.line {
    height: 20%;
    height: 0%;
    width: 2px;
    background-color: var(--dark-color);
    transition: .3s;
}

.divider:hover .line {
    /* background-color: var(--light-color); */
    height: 20%;
}