
.note-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    min-width: 100%;
}

.note-item {
    --radius: 20px;
    --dark-color: rgb(234, 116, 116);
    --light-color: rgb(255, 160, 160);
}

.note-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 8px;
    border-radius: var(--radius);
    overflow: hidden;
    cursor: pointer;
    
    color: black;
    background-color: transparent;
    transition: .5s;
}

.note-item > * {
    padding: 0px 12px;
}

.note-item:hover {
    background-color: var(--light-color);
}

.note-item.selected {
    background-color: var(--dark-color);
}

.note-item > :first-child {
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    text-align: left;
}

.note-item button {
    /* position: absolute;
    right: 0;
    top: 0;
    bottom: 0; */

    flex-grow: 0;
    flex-shrink: 0;
    border: none;
    /* height: 100%; */
    background-color: var(--dark-color);
    background-color: hsla(0, 100%, 100%, .25);
    color: white;
    cursor: pointer;
    border-radius: var(--radius);

    /* display: none; */
    transition: .3s;
    transform: translateX(100%);
    color: transparent;
    margin-left: -100%;
}

.note-item:hover button {
    /* display: block; */
    transform: translateX(0px);
    color: white;
    margin-left: 0%;
}

.note-item button:hover {
    transform: scale(1.2, 1.2);
}