* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  padding: 8px;
  --radius: 20px;
  --dark-color: rgb(234, 116, 116);
  --light-color: rgb(255, 160, 160);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}