/* .writer {

    background-color: hsl(0, 0%, 90%);
} */

div.DraftEditor-root {
    padding: 14px;
    resize: both;
    overflow: auto;
    background-color: hsl(0, 0%, 95%);
    border-radius: var(--radius);
    width: 90%;
    max-width: 100%;
    height: 500px;
    text-align: start;
}
div.DraftEditor-root:focus {
    border-radius: 4px;
}
/* div.DraftEditor-root::selection,
div.DraftEditor-editorContainer::selection,
div.public-DraftEditor-content::selection,
.draftjs::selection,
.writer::selection
{
    background-color: var(--dark-color);
} */

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}

.writer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.draftjs {
    /* width: 100%;
    height: 100%; */
    /* max-width: 100%;
    max-height: 100%; */
    padding: 4px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.tool-container button {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 4px 8px;
    color: black;
    background-color: transparent;
    transition: .3s;
}
.tool-container button:hover {
    background-color: var(--dark-color);
    color: white;
}



/* .style-button {
    
} */


.tool-container #bold {
    font-weight: bold;
}
.tool-container #italic {
    font-style: italic;
}
.tool-container #underline {
    text-decoration: underline;
}
.tool-container #strikethrough {
    text-decoration: line-through;
}
#unorderedlist::before {
    content: "• ";
}
#orderedlist::before {
    content: "1-";
}

.TextLeft {
    text-align: left;
}
.TextCenter {
    text-align: center;
}
.TextRight {
    text-align: right;
}
.TextBlock {
    text-align: justify;
}
.Indent {
    text-indent: 20px;
}
.Dedent {
    text-indent: 0px;
}

.check-box::before {
    content: "box";
}